
<%= simple_form_for [@user, @job] do |f| %>

	<%= f.input :title %>
	<%= f.input :company %>
	<%= f.input :company_url, :input_html => { :value => 'http://' } %>
	<%= f.input :job_url, :input_html => { :value => 'http://' } %>
	<%= f.input :job_email %>
	<%= f.input :description %>
	<em>This form accepts <a href="http://en.wikipedia.org/wiki/Markdown" target="_blank">Markdown</a>.</em>

	<div class="submit">
		<%= f.submit %>
	</div>

<% end %>