

<div class="back">
	<%= link_to "Back", root_path %>
</div>

<div class="wrapper">
	
	<div class="header">
		<h1><%= @job.title %></h1>
		<div class="meta">
			<p>at <%= link_to @job.company, "#{@job.company_url}", target: 'blank' %> - added <%= time_ago_in_words @job.created_at %> ago</p>
		</div>
	</div>

	<div class="desc">
		<p><%= markdown(@job.description) %></p>

		<h3>How to apply</h3>
		<p><%= markdown(@job.how_to_apply) %></p>
	</div>

	<div class="footer">

		<div>
			<p>Salary: £<%= @job.salary %></p>
			<p>Area: <%= @job.area_of_london %></p>
			<p>Added <%= time_ago_in_words @job.created_at %> ago</p>
		</div>
		<div>
			<p><%= link_to "More about the job", @job.job_url, target: 'blank' %> (on the company website)</p>
			<p><%= mail_to @job.job_email, "Apply for this job" %></p>
			<% if logged_in? and current_user == @job.user %>
				<p><%= link_to "Edit", edit_job_path(@job), class: 'button' %></p>
			<% end %>
		</div>

	</div>
</div>