

<div class="wrapper">

	<div class="header">
		<h1>Welcome</h1>

		<h2>You need to create an account to post a job with us. Aleady got an account? 
		<%= link_to "Log in here", new_session_path %></h2>
	</div>

	<%= simple_form_for @user do |f| %>

		<%= f.input :name %>
		<%= f.input :username %>
		<%= f.input :email %>
		<%= f.input :password %>
		<%= f.input :password_confirmation %>

		<div class="submit">
			<%= f.button :submit, "Sign up" %>
		</div>

	<% end %>
</div>