<!DOCTYPE html>
<html>
<head>
  <title>Design Jobs LDN</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//use.typekit.net/tuj6ivy.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

<header>
	
	<div id="logo">
			<%= link_to "London Design Jobs", root_path %>
	</div>

	<nav>
		<ul>
			<li><%= link_to_active_class "Jobs", "selected", root_path %></li>
			<li><%= link_to_active_class "Projects", "selected", '/freelance' %></li>
			<% if logged_in? %>
				<li><%= link_to_active_class "Post a job", "selected", new_user_job_path(current_user.id) %></li>
			<% else %>
				<li><%= link_to "Post a job", new_user_path %></li>
				<li class="small"><%= link_to "Log in", new_session_path %></li>
				<li class="small"><%= link_to "Sign up", new_user_path %></li>
			<% end %>
			<li class="small"><%= link_to "About", '/about' %></li>
			<% if logged_in? %>
				<li class="small"><%= link_to "Log out", session_path, method: :delete  %></li>
			<% end %>
			<li class="twitter"><a href="http://www.twitter.com/designjobsldn" target="_blank">Twitter</a></li>
		</ul>
	</nav>


	
</header>

<div id="content">
	<div class="wrapper">
		<% flash.each do |key, value| %>
			<div class="<%= key %>">
				<p><%= value %></p>
			</div>
		<% end %>
	</div>
	
	<%= yield %>

</div>

<div class="right">
</div>

</body>
</html>
